/* styles.css */

.container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
}

.sort-filter-container {
  display: flex; 
  justify-content: space-between; 
  margin: 20px 0; 
  background: #fff;
  border-radius: 5px; 
  padding: 15px; 
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.sorting, .filtering {
  display: flex;
  align-items: center; 
}

.sorting label, .filtering label {
  font-weight: bold; 
  margin-right: 10px; 
}

.sorting select, .filtering select {
  padding: 8px;
  border-radius: 5px; 
  border: 1px solid #ccc;
  margin-left: 5px; 
  font-size: 1em;
}

.product-list {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
  padding: 20px 0;
}


.product-card {
  background: #fff; 
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  margin: 15px; 
  padding: 15px; 
  width: calc(25% - 30px); 
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-title {
  font-size: 1.2em; 
  margin: 10px 0;  
}

.product-description {
  font-size: 0.9em;  
  color: #555;  
}

.product-price {
  color: #28a745; 
  font-size: 1.1em; 
  margin: 5px 0; 
}

/* Responsive Styles */
@media (max-width: 768px) {
  .product-card {
      width: calc(50% - 30px);
  }
}

@media (max-width: 480px) {
  .product-card {
      width: 100%; 
  }
}


/* CreateProduct.css */
.create-product {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-product h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-product button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-product button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  text-align: center;
}

.success {
  color: green;
  text-align: center;
}

/* App.css */

.add-product-button {
  padding: 10px 15px;  
  background-color: #28a745;  
  color: white;  
  border: none;  
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 1em; /* Font size */
  margin: 20px 10px; /* Margin around the button */
  transition: background-color 0.3s; /* Transition effect */
}

.add-product-button:hover {
  background-color: #218838; /* Darker green on hover */
}
